# Project specific stuff
build/
dist/
tmp/
webpack-stats.json

# npm stuff
node_modules/
npm-debug.log

# Editor Stuff
*.sublime-project
*.sublime-workspace
*.bak
*~

# System stuff
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.directory
